.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    margin-left: 10px;
  }


  label {
    font-size: 1.6rem;
    margin-bottom: 5px;
  }

  #btn {
    margin-bottom: 10px !important;
  }